/* src/index.css */

/* Tailwind CSS directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS for dropdown animations */
.dropdown-enter {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

.dropdown-enter-active {
  max-height: 200px; /* Adjust this value based on your dropdown content height */
  opacity: 1;
  overflow: hidden;
}

/* Cookie Consent Banner Styles */
.cookie-consent-banner {
  @apply fixed bottom-0 left-0 right-0 bg-cookie-consent-bg text-cookie-consent-text p-4 text-center z-50 rounded-lg shadow-lg;
  animation: slideUp 0.5s ease-out;
}

.cookie-consent-banner button {
  @apply py-2 px-4 mx-2 rounded-md text-white font-semibold transition-all duration-300 ease-in-out;
}

.cookie-consent-banner .btn-accept {
  @apply bg-cookie-consent-accept hover:bg-green-600;
}

.cookie-consent-banner .btn-decline {
  @apply bg-cookie-consent-decline hover:bg-red-600;
}

/* Example animation for sliding up */
@keyframes slideUp {
  0% { transform: translateY(100%); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}
