@tailwind base;
@tailwind components;
@tailwind utilities;


/* Add this to your main CSS file (e.g., src/index.css) */
.dropdown-enter {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out, opacity 0.4s ease-in-out;
  }
  
  .dropdown-enter-active {
    max-height: 200px; /* Adjust this value based on your dropdown content height */
    opacity: 1;
    overflow: hidden;
  }

  
  
  